RewriteEngine On

# WebSocket (لاحقًا يمكن تفعيله)
# RewriteCond %{HTTP:Upgrade} websocket [NC]
# RewriteCond %{HTTP:Connection} upgrade [NC]
# RewriteRule ^/?(.*) "ws://127.0.0.1:3000/$1" [P,L]

# تمرير الطلبات إلى Nuxt
ProxyPreserveHost On

ProxyPass / http://127.0.0.1:3000/
ProxyPassReverse / http://127.0.0.1:3000/

# رؤوس حماية (اختياري)
Header always set X-Content-Type-Options nosniff
Header always set X-Frame-Options DENY
Header always set X-XSS-Protection "1; mode=block"
